body{
    font-family: "Segoe UI" ;
}
/* <------------------------- NAV BAR -------------------------> */
.nav-bar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 99;
}

.navbar-brand{
    font-size: 28px;
    font-weight: 600;
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav li {
    position: relative;
    /* background-color: teal; */
}
.navbar-nav > li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}
.navbar-nav > li:hover::after{
    width: 60%;
}
.dropdown{
    position: relative;
}
.drop{
    display: block;
    position: absolute;
    left: 8.5px;
    top: calc(100% + 25px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: all 0.5s;
    border-radius: 0%;
}
.drop2{
    display: block;
    position: absolute;
    left: calc(100% - 3px);
    top: calc(100% + 0px);
    margin: 0;
    padding: 10px 10px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: all 0.5s;
    border-radius: 0%;
}
.dropdown2 span{
    padding: 2px 0px !important;

}
.dropdown2 a{
    padding: 0px;
}
.dropdown2:hover .drop2{
    display: block;
    opacity: 1;
    visibility: visible;
    top: calc(0% - 0px);
}
.dropdown:hover .drop{
    display: block;
    opacity: 1;
    visibility: visible;
    top: calc(100% - 3px);
}
.navbar-toggler-icon{
    background-image: none !important;
}
.navbar-toggler-icon i{
    font-size: 24px;
}

/* <------------------------- ÙACTIVE SECTIONS -------------------------> */

body:not(body:has(:target)) .navbar-nav > li a[href="#home"]::after {
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}

body:has(.home:target) .navbar-nav > li a[href="#home"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}

body:has(.about:target) .navbar-nav > li a[href="#about"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
} 

body:has(.services:target) .navbar-nav > li a[href="#services"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}

body:has(.work:target) .navbar-nav > li a[href="#work"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}


body:has(.blog:target) .navbar-nav > li a[href="#blog"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}

body:has(.contant:target) .navbar-nav > li a[href="#contant"]::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    transition: width 0.5s;
}


/* <------------------------- HOME SECTION -------------------------> */
.head-bg{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.head-innerlayer{
    background-color: rgba(0,0,0,0.5);
}
.head-title > h1{
    font-size: 4.5rem;
    font-weight: 600;
}
.head-title > h3::after{
    content: "|";
    font-size: 40px;
    animation-name: typing;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    font-weight: 600;
    
}




@keyframes typing {
    0%{     content:" |"}
   1.15%{  content:" P|"}
    2.3%{  content:" Ph|"}
    3.45%{  content:"Pho|"}
    4.6%{   content:"Phot|"}
    5.75%{  content:"Photo|"}
    6.9%{  content:"Photog|"}
    8.05%{  content:"Photogr|"}
    9.2%{  content:"Photogra|"}
    10.35%{   content:"Photograp|"}
    11.5%{  content:"Photograph|"}
    12.65%{ content:"Photographe|"}
    13.8%{ content:"Photographer|"}
    14.95%{ content:"Photographer|"}
    16.1%{  content:"Photographer|"}
    17.25%{ content:"Photographer|"}
    18.4%{ content:"Photographe|"}
    19.55%{ content:"Photograph|"}
    20.7%{ content:"Photograp|"}
    21.85%{  content:"Photogra|"}
    23%{ content:"Photogr|"}
    24.15%{ content:"Photog|"}
    25.3%{ content:"Photo|"}
    26.45%{ content:"Phot|"}
    27.6%{  content:"Pho|"}
    28.75%{ content:"Ph|"}
    29.9%{ content:"P|"}
    31.05%{ content:"P|"}
    32.2%{ content:" |"}
    33.35%{  content:"Fr|"}
    34.5%{ content:"Fre|"}
    35.65%{ content:"Free|"}
    36.8%{ content:"Freel|"}
    37.95%{ content:"Freela|"}
    39.1%{  content:"Freelan|"}
    40.25%{ content:"Freelanc|"}
    41.4%{ content:"Freelance|"}
    42.55%{ content:"Freelancer|"}
    43.7%{ content:"Freelancer|"}
    44.85%{ content:"Freelancer|"}
    46%{  content:"Freelancer|"}
    47.15%{ content:"Freelance|"}
    48.3%{ content:"Freelanc|"}
    49.45%{ content:"Freelan|"}
    50.6%{ content:"Freela|"}
    51.75%{  content:"Freel|"}
    52.9%{ content:"Free|"}
    54.05%{ content:"Fre|"}
    55.2%{ content:"Fr|"}
    56.35%{ content:"F|"}
    57.5%{  content:" |"}
    58.65%{ content:"D|"}
    59.8%{ content:"De|"}
    60.95%{ content:"Des|"}
    62.1%{ content:"Desi|"}
    63.25%{  content:"Desig|"}
    64.4%{ content:"Design|"}
    65.55%{ content:"Designe|"}
    66.7%{ content:"Designer|"}
    67.85%{ content:"Designer|"}
    69%{  content:"Designer|"}
    70.15%{ content:"Designer|"}
    71.3%{ content:"Designe|"}
    72.45%{ content:"Design|"}
    73.6%{ content:"Desig|"}
    74.75%{  content:"Desi|"}
    75.9%{ content:"Des|"}
    77.05%{ content:"De|"}
    78.2%{ content:"Dev|"}
    79.35%{ content:"Deve|"}
   80.5%{  content:"Devel|"}
    81.65%{ content:"Develo|"}
    82.8%{ content:"Develop|"}
    83.95%{ content:"Develope|"}
    85.1%{ content:"Developer|"}
    86.25%{  content:"Developer|"}
    87.4%{ content:"Developer|"}
    88.55%{ content:"Developer|"}
    89.7%{ content:"Develope|"}
    90.85%{ content:"Develop|"}
    92%{  content:"Develo|"}
    93.15%{ content:"Devel|"}
    94.3%{ content:"Deve|"}
    95.45%{ content:"Dev|"}
    96.6%{ content:"De|"}
    97.75%{    content:"D|"}
    100%{ content:" |"}  
}


/* <------------------------- ABOUT SECTION -------------------------> */


.font-size-16{
    font-size: 19px;
}

.w-85{
    width: 85% ;
}

.w-90{
    width: 90%;
}

#about{
    background-color: #f5f5f5;
}

.progress{
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.about-title h5::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    left: 0;
}


.box-shadow-full{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/* <------------------------- SERVICES SECTION -------------------------> */
#services{
    background-color: #f5f5f5;
}

.services-title h2{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.services-title p{
    text-align: center;
    text-decoration: none;
    color: #4e4e4e;
}

.decoration{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

.serv-inner{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #fff;
}
.icon-div{
    margin-bottom: 1rem;
}
.icon-div .icon-circle i{
    font-size: 40px;
}

.icon-circle{
    height: 110px;
    width: 110px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    display: inline-block;
    margin: auto;
    text-align: center;
    /* box-shadow: 0 0 0 10px #0078ff; */
    border: #0078ff 10px solid;
    transition: all 0.6s;
    
}

.serv-inner h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

.serv-inner:hover .icon-circle{
    color: #fff;
    background-color: #0078ff;
    /* box-shadow: 0 0 0 10px #cde1f8; */
    border: #cde1f8 10px solid;
}

/* <------------------------- ICONS SECTION -------------------------> */


#icons-sec{
    background-image: url(../images/post-3.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.icons-layers{
    background-color: rgba(0,120,255,0.7);
}

.icon-cont{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #cde1f8;
}

.span-font{
    font-size: 32px;
}

.protoflio-heading > h2{
    font-size: 48px;
    font-weight: 700;
}
.dceorations{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}

.inner-container{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.img-cont img{
    transition: all 1.3s;
}
.img-cont img:hover{
    transform: scale(1.3,1.3);
}
.item-p h4{
    font-size: 19.2px;
}
.item-p span{
    font-size: 12.8px;
}
.item-p span .inner-span{
    font-size: 12.8px;
    color: #0078ff;
}
.item-icon{
    width: 45px;
    height: 45px;
    border: 3px solid #0078ff;
    cursor: pointer;
}
.item-icon i{
    font-size: 1.8rem;
    color: #0078ff;
}
/* <------------------------- SLIDER SECTION -------------------------> */

.slider-sec{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-inner-layer{
    background-color: rgba(0,120,255,0.7);
}

.silde-caption > h3{
    font-size: 22.4px;
    font-weight: 600;

}
.silde-caption > p{
    font-size: 20px;
    padding: 0px 13rem;
    box-sizing: border-box !important;
}

.decoration-5{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

/* <------------------------- BLOG SECTION -------------------------> */

.card-img{
    position: relative;
}
.card-badge{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,50%);
}
.badge{
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    padding: 8px 15px 8px;
    border-radius: 4px;
}
.card-body > a{
    text-decoration: none;
    color: black;
    transition: all 0.6s;
}
.card-body > a:hover{
    color: #0078ff;
}

.img-fixed-w{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 4px;
}

.card-footer > a{
    text-decoration: none;
    color: black;
    transition: all 0.6s;
    font-size: 16px;
}
.card-footer > a:hover{
    color: #0078ff;
}

/* <------------------------- CONTACT SECTION -------------------------> */


#contant{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1) !important;
}
.head-contact h5{
    font-size: 32px;
    font-weight: 500;
}

.head-contact h5::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    left: 0;
}
.form1-cont{
    padding: 10px 15px;
}
.form1{
    padding: 10px 15px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
}
.text-area8{
    resize: vertical;
    min-height: 8rem;
}

.buttin-form {
    background: #0078ff;
    border: 0px transparent solid;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5rem;
    font-size: 1.2rem;
    transition: all 0.7s;
}
.buttin-form:hover{
    box-shadow: 0 0 0 4px #cde1f8;
    background: #3393ff;
}
.button-a {
    text-decoration: none;
}

.icons-color{
    color: #0078ff;
}
.touch-icon-cont{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #0078ff 4px solid;
    transition: all 0.4s;
    cursor: pointer;
}
.touch-icon-cont i{
    font-size: 25px;
}

.touch-icon-cont:hover{
    background-color: #0078ff;
    border: #cde1f8 4px solid; 
    color: #fff;
}


/* <------------------------- FOOTER -------------------------> */


.footer-bg{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.footer-inner-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,120,255,0.7);
}